@model IEnumerable<RemesasApp.Models.Transaccion>

<h2>Listado de Transacciones</h2>

<table class="table">
    <thead>
        <tr>
            <th>Remitente</th>
            <th>Destinatario</th>
            <th>Moneda</th>
            <th>Monto Enviado</th>
            <th>Estado</th> <!-- Agregamos la columna de Estado -->
        </tr>
    </thead>
    <tbody>
        @foreach (var transaccion in Model)
        {
            <tr>
                <td>@transaccion.Remitente</td>
                <td>@transaccion.Destinatario</td>
                <td>@transaccion.Moneda</td>
                <td>@transaccion.MontoEnviado</td>
                <td>@transaccion.Estado</td> <!-- Mostramos el valor de Estado -->
            </tr>
        }
    </tbody>
</table>
